* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
}

@font-face {
	font-family: wavefont;
	font-display: block;
	src: url(./asset/wavefont.woff2) format('woff2');
}
.waveedit {
  height: 100%;
  margin: 0;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}
.wavefont {
  display: block;
	--wght: 20;
	font-family: wavefont;
  letter-spacing: 1ch;
  font-size: 50px;
  line-height: 1.4;
	font-variation-settings: 'wght' var(--wght), 'ROND' 0, 'ALGN' 0.5;
  word-break: break-word;
}

.we-container {
  display: flex;
  max-width: 54rem;
  position: relative;
  width: 100%;
  /* min-height: 100%; */
  margin: 2rem auto;
  padding: 2rem 0 3rem;
}

.we-file {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(20,20,20,.08);
  width: 100%;
  font-family: sans-serif;
  z-index: 1;
}

.we-sizer {
  word-break: break-all;
  visibility: hidden;
}

.we-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.we-wavearea {
  position: absolute;
  padding: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  outline: none;
  border: none;
  resize: none;
  background: none;
}


.we-playback {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 100px;
  z-index: 2;
  height: 3rem;
  /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
}