* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  font-family: sans-serif;
}

@font-face {
	font-family: wavefont;
	font-display: block;
	src: url(./asset/wavefont.woff2) format('woff2');
}

.wavefont {
  display: block;
	--wght: 25;
	font-family: wavefont;
  letter-spacing: 1ch;
  font-size: 4rem;
  line-height: 1.4;
	font-variation-settings: 'wght' var(--wght), 'ROND' 100, 'ALGN' 0.5;
  word-break: break-all;
}

.wavearea {
  height: 100%;
  margin: 0;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.w-container {
  display: flex;
  position: relative;
  width: 100%;
  margin: 3rem auto 0;
  padding: 0 0 3rem;
  justify-content: center;
}

.w-file {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(20,20,20,.08);
  width: 100%;
  font-family: sans-serif;
  z-index: 1;
}

.w-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1rem;
}

.w-editable {
  word-break: break-all;
  outline: none;
  border: none;
  resize: none;
  background: none;
  padding: 1rem;
}
.w-editable.dragover {
  border: 2px dashed rgba(20,20,20,.08);
}

.w-segment {
  position: relative;
  margin: 0;
  padding: 0;
  white-space: break-spaces;
  max-width: calc(var(--linew, 240) * 2ch);
}
.w-segment::before{
  content: attr(timecodes);
  position: absolute;
  top: 0;
  left: -3rem;
  font-family: sans-serif;
  letter-spacing: 0;
  font-size: .75rem;
  width: 1em;
  word-break: keep-all;
  white-space: pre;
  opacity: .5;
  line-height: calc(4rem*1.4); /* FIXME: make depend on w-segment font-style */
}

.w-playback {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 100px;
  z-index: 2;
  height: 3rem;
  /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
}