html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
}

@font-face {
	font-family: wavefont;
	font-display: block;
	src: url(./asset/wavefont.woff2) format('woff2');
}
.waveedit {
  height: 100%;
  margin-right: 4rem;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
}
.wavefont {
  display: block;
	--wght: 10;
	font-family: wavefont;
  letter-spacing: 1ch;
	font-variation-settings: 'wght' var(--wght), 'ROND' 0, 'ALGN' 0.5;
}
.wavearea {
  height: 100%;
  font-size: 100px;
  outline: none;
  border: none;
  line-height: 1.4;
  padding: 0;
}
.playback {
  position: fixed;
  bottom: 1rem
}